#eyes {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.demeyes {
  position: absolute;
  left: 810px;
  top: 571px;
  width: 100px;
}


@media only screen and (max-width: 1400px) and (min-width: 1000px) {
  .demeyes {
    left: 693px;
    top: 574px;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 800px) {
  .demeyes {
    left: 491px;
    top: 565px;
  }
}

@media only screen and (max-width: 800px) and (min-width: 560px)  {
  .demeyes {
    left: 393px;
    top: 617px;
  }
}

@media only screen and (max-width: 560px) {
  .demeyes {
    left: 286px;
    top: 685px;
  }
}
.eye {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  height: 43px;
  width: 43px;
  background: white;
}
.pupil {
  /*pupil*/
  position: absolute;
  bottom: 8px;
  left: 16px;
  width: 20px;
  height: 20px;
  background: #000;
  border-radius: 50%;
  content: " ";
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  transform: none;
}
