@import "./variables.scss";

.footer-container {
  background-color: $darkgrey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  height: 80px;
  font-size: 14px;
  align-items: center;
}

.footer-socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 50px;
}

.footer-socials a {
  padding-right: 32px;
  text-decoration: none;
  color: $pink;
}

.footer-socials a:hover {
  color: $palegrey;
  transition: 0.3s ease;
}

.footer-email {
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-email p {
  padding-left: 5px;
}

.madeBy {
    padding-right: 5px;
}

@media only screen and (max-width: 500px) {
  .footer-container {
    height: 100px;
    font-size: 12px;
  }

  .footer-socials a {
    padding-bottom: 5px;
  }

  .footer-socials {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 50px;
  }
}
