@import "./variables.scss";

.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -$masonry_margin; /* gutter size offset */
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: $masonry_margin; /* gutter size */
    background-clip: padding-box;
  }
  
  /* Style your items */
  .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    margin-bottom: $masonry_margin;
    border-style: dashed;
    border-color: $red;
    border-width: 1px;
  }

  .gallery-container {
      padding-top: 120px;
      margin-left: $margin;
      margin-right: $margin;
  }

  .gallery-container p {
    font-size: 12px;
    padding-left: 5px;
}

  .gallery-item img {
      width: 100%;
      max-width: 500px;
  }

