// Breakpoints
$mobile_screen_size: 800px;

// Do not inlcude units.
$min_screen_size: 300;
$min_screen_size_px: 300px;
$max_screen_size: 3840;

// Header
$header_text_val: 36px;

// Accent Hover
$hover_text_color: #F8ECE2;

// Landing page background
$grad_a: #FFE1C9;
$grad_b: #1F303C;
;

$red: #E43131;

