// Colors
$red: #e43131;
$palegrey: #F3F3F3;
$darkgrey: #1C1C1C;
$pink: #FFAEDF;


// Margins
$margin: 80px;
$margin_mobile: 20px;
$margin_tablet: 40px;
$masonry_margin: 10px;
// // Breakpoints
// $mobile_screen_size: 800px;

// // Do not inlcude units.
// $min_screen_size: 300;
// $min_screen_size_px: 300px;
// $max_screen_size: 3840;

// // Header
// $header_text_val: 36px;

// // Accent Hover
// $hover_text_color: #f8ece2;

// // Landing page background
// $red: #e43131;
// $palegrey: #F3F3F3;
// $darkgrey: #1C1C1C;
// $pink: #FFAEDF;


// // UID vars
// $c_header_text: 42px;
// $c_header_height: 46px;


