// Breakpoints
$mobile_screen_size: 800px;

// Do not inlcude units.
$min_screen_size: 300;
$min_screen_size_px: 300px;
$max_screen_size: 3840;

// Header
$header_text_val: 36px;

// Accent Hover
$hover_text_color: #f8ece2;

// Landing page background
$grad_a: #ffe1c9;
$grad_b: #1f303c;
$red: #e43131;
$palegreen: #D9DAC9;

