@import "./navbar.scss";
@import "./variables.scss";
@import "./projects.scss";
@import "./eyes.scss";
@import "./casestudy.scss";
@import "./footer.scss";
@import "./about.scss";
@import "./masonry.scss";
@import "./work.scss";

@font-face {
  src: url(../fonts/Telegraf-Regular.woff2) format("woff2"),
    url(../fonts/Telegraf-Regular.woff) format("woff"),
    url(../fonts/Telegraf-Regular.ttf) format("truetype");
  font-family: "Telegraf";
}

body {
  font-family: "Telegraf";
  font-style: normal;
  font-weight: 400;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.alt-text {
  font-family: Schnyder L;
  font-style: italic;
  font-weight: 500;
}

.landing-wrapper {
  background-color: $red;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: $margin;
  margin-right: $margin;
  padding-top: 180px;
  
}

.main-container {
  background-color: $red;
  color: $palegrey;
  height: 90vh;
  padding-top: 0px;
  max-width: 900px;
  width: 100%;
}

.projects-container a {
  text-decoration: none;
  color: $palegrey;
}

.main-container:nth-of-type(2) {
  background-color: $palegrey;
  color: black;
}

.main-container h1 {
  font-size: 66px;
  font-weight: 400;
}

.right-line {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  color: $palegrey;
}

.vertical-line {
  border-left: 1px solid $palegrey;
  height: 250px;
  width: 1px;
  align-self: center;
}

.vertical-text {
  padding-top: 26px;
  font-size: 18px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin: 0;
}

.projects-container {
  margin-left: $margin;
  margin-right: $margin;
  color: white;
  display: flex;
  flex-direction: column;
}

.projects-container h1 {
  font-size: 58px;
  line-height: 60px;
  margin: 0;
}

.project {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-top: 30px;
  padding-bottom: 30px;
}

.project:nth-of-type(2) {
  justify-content: flex-end;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  max-width: 550px;
}

.project-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  max-width: 550px;
}

.description {
  font-style: normal;
  font-weight: 400;
}

.project-img img {
  max-width: 500px;
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
}


.projects-container a:hover {
  color: black;
  transition: 0.5s ease;
  cursor: pointer;
}

.project:nth-of-type(even) {
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-self: flex-end;
}

@media only screen and (max-width: 1025px) and (min-width: 470px) {
  main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: $margin_tablet;
    margin-right: $margin_tablet;
    padding-top: 30px;
    height: 1400px;
  }

  .main-container {
    background-color: $red;
    color: white;
    max-width: 900px;
    width: 100%;
  }

  .main-container h1 {
    font-size: 80px;
    font-weight: 400;
  }

  .vertical-text {
    padding-top: 26px;
    font-size: 34px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin: 0;
  }
}

@media only screen and (max-width: 470px) {
  .main-container h1 {
    font-size: 36px;
    font-weight: 400;
  }

  main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: $margin_mobile;
    margin-right: 6px;
    padding-top: 10px;
    padding-bottom: 30px;
  }

  .main-container {
    background-color: $red;
    color: white;
    height: 600px;
    padding-top: 40px;
    max-width: 900px;
    width: 100%;
  }

  .projects-container {
    margin-left: $margin_mobile;
    margin-right: $margin_mobile;
  }

  .projects-container h1 {
    font-size: 36px;
    line-height: 38px;
    margin: 0;
  }

  .project {
    max-width: 300px;
    width: 100%;

  }


.project-img img {
  visibility: hidden;
}
}

.is-inview .ani-persc__item {
  transform: none;
  opacity: 1;
  transition-duration: .8s;
}


.ani-persc__item {
  transform-origin: center top;
  transform-style: preserve-3d;
  transform: translateY(100%) rotateX(
-80deg
);
  display: block;
  opacity: 0;
  transition: opacity 0s cubic-bezie
}