@import "./navbar.scss";
@import "./variables.scss";
@import "./projects.scss";
@import "./eyes.scss";
@import "./casestudy.scss";
@import "./footer.scss";
@import "./about.scss";

:root {
  background-color: $palegrey;

}

.main {
  width: 100%;
  width: 100vw;
  background-color: #e43131;
  height: 753px;
  top: 0;
}

* {
  box-sizing: border-box;
  font-family: Telegraf;
  font-style: normal;
  font-weight: 400;
  list-style: none;
  margin: 0;
  padding: 0;
  // background-color: $palegrey;
  }

.main h1 {
  color: white;
  font-size: 56px;
}

#catu {
  //     float: left;
  //   margin: 5%;
  position: absolute;
  left: 105px;
  top: 72px;
}

#is {
  position: absolute;
  left: 342px;
  top: 118px;
  animation-delay: 100ms;
}

#a {
  position: absolute;
  left: 219px;
  top: 238px;
  animation-delay: 200ms;
}

#designer {
  color: white;
  font-size: 56px;
  left: 428px;
  top: 237px;
  position: absolute;
  animation-delay: 300ms;
}

.main a {
  content: "";
  transition: transform 0.3s;
  border: 1px solid white;
  border-radius: 100%;
  padding: 20px;
  z-index: 1000000;
}

.main a:hover {
  transform: rotate(15deg);
  z-index: 1000000;
}

#plus {
  position: absolute;
  left: 876px;
  top: 264px;
  animation-delay: 100ms;
}

.amongothers {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 1000px;
  top: 284px;
  color: white;
}

.amongothers a {
  content: "";
  transition: transform 0.3s;
  border: 1px solid white;
  border-radius: 0%;
}

.amongothers a:hover {
  transform: rotate(15deg);
  z-index: 1000000;
}

.amongothers-item {
  width: 188px;
  margin-bottom: -1px;
}

#illustrator {
  animation-delay: 500ms;
}

#developer {
  margin-left: 20%;
  animation-delay: 800ms;
}

#director {
  margin-left: 40%;
  animation-delay: 1100ms;
}

#cyclist {
  margin-left: 60%;
  animation-delay: 1300ms;
}

#scroll {
  position: absolute;
  left: 302px;
  top: 511px;
  animation-delay: 1.5s;
}

#to {
  position: absolute;
  left: 496px;
  top: 621px;
  animation-delay: 2s;
}

#see {
  position: absolute;
  left: 686px;
  top: 581px;
  animation-delay: 2.5s;
}

#herwork {
  position: absolute;
  left: 789px;
  top: 672px;
  animation-delay: 3.5s;
  width: 291px;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}
